.form {

    &__field {
        border: 1px solid #c4c4c4;
        padding: 0 15px;
        color: #c4c4c4;
        display: block;
        width: 100%;
        font-size: 15px;
        margin-bottom: 15px;
        @include font($font-family, normal, 300, $font-size);
        outline: none;
    }
}